

.scbca-gray:not(.scbca-webp) {
  filter: grayscale(100%) blur(4px);
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}


@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}



.scbca-good {
  outline: dashed #10a010 4px;
  outline-offset: -4px;
}


.scbca-bad {
  outline: dashed #a01010 4px;
  outline-offset: -4px;
}


.scbca-webp:not(.scbca-good):not(.scbca-bad) {
  filter: grayscale(3%) sepia(100%);
}

.scbca-processing:not(.scbca-good):not(.scbca-bad) {
  filter: saturate(100%) opacity(50%) blur(2px);
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

.scbca-non-viable:not(.scbca-good):not(.scbca-bad) {
  filter: invert();
}

.scbca-serviceworker:not(.scbca-good):not(.scbca-bad){
  filter: sepia(100%) hue-rotate(190deg) saturate(500%);
  outline: solid #0066CC 4px;
}

.scbca-optimised:not(.scbca-good):not(.scbca-bad){
  /* filter: sepia(100%) hue-rotate(190deg) saturate(500%); */
  border: solid #60992d 4px !important;
}

.scbca-original:not(.scbca-good):not(.scbca-bad){
  /* filter: sepia(100%) hue-rotate(190deg) saturate(500%); */
  border: solid #127caa 4px !important;
}