body {
    background-color: white;
    width: 350px;
    min-height: 600px !important;
    font-family: sans-serif;
    margin: 0;
    color: black;
    font-size: 14px;
}

#app-root{
    margin-bottom: 15%;
}

.Message {
    text-align: center;
}
.spinner{
    width: 200px;
    height: 200px;
    margin-top: 17%;
    margin-left: 21%;
}
.ErrorMessage {
    padding: 14px;
    vertical-align: middle;
    position: relative;
    top: 80px;
    font-size: 12px;
    font-weight: bold;
}

.title-block {
    padding: 16px;
}

.version {
    position: absolute;
    right: 5px;
    top: 3px;
    font-size: 10px;
}

.title-block>header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.checkbox-area {
    padding: 16px;
}

.radiobutton-area {
    padding: 0px 25px;
}

h1 {
    font-size: 14px;
    font-weight: bolder;
    margin-top: 20px;
}

.logo {
    display: block;
    height: 35px;
    width: 35px;
}

.divider,
.subdivider {
    display: block;
    border-bottom: #e0e0e040 solid 1px;
    color: #dacdff6e;
}

.shim-radio {
    margin-top: 16px;
    margin-bottom: 16px;
}

.counters {
    padding: 16px;
}

.counters .counter {
    font-size: 16px;
    padding-left: 16px;
    padding-right: 16px;
    line-height: 2em;
}

.counters .good {
    color: #10a010;
}

.counters .bad {
    color: #a01010;
}

.dire-warning {
    font-size: 12px;
}

.files button {
    width: 100px;
}

.files {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.info-grid {
    display: -ms-grid;
    display: grid;
}

.info-grid div {
    padding-top: 4px;
    padding-bottom: 4px;
}

.info-grid .sublabel {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: auto;
    grid-row-start: auto;
}

.info-grid .amount {
    font-family: "Share Tech Mono", monospace;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: auto;
    grid-row-start: auto;
    text-align: right;
    font-size: 16px;
}

.text-center {
    text-align: center;
}

.m-25 {
    margin: 50px 0px;
}

.f-size {
    font-size: 15px;
}

.btn {
    text-decoration: none;
    color: #ffffff;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    padding: 10px 25px;
    background: darkslategrey;
    position: relative;
    top: 5px;
    margin-bottom: 20px;
}

.btn:hover {
    color: #ffffff;
    background: #293c3c9c;
}

.p-position {
    margin: 0px;
    position: absolute;
    left: 80px;
}

.r-position {
    position: absolute;
    left: 55px;
    cursor: pointer;
}

.t-1 {
    top: 125px;
}

.t-2 {
    top: 150px;
}

.t-3 {
    top: 175px;
}

.text-ul-li {
    font-size: 12px;
    position: relative;
    top: 70%;
    left: 60px;
}

.list-ul {
    list-style-type: none;
    padding-left: 4px;
    position: relative;
    bottom: 10px;
}

ul li::before {
    content: '*';
    position: relative;
    right: 5px;
    top: 3px;
}

.label-align {
    position: relative;
    top: 105%;
    border: 5px solid black;
    box-shadow: inset 1px 1px 5px 0px black;
    border-radius: 10px;
    left: 25px;
    width: 75%;
    padding: 15px;
    font-size: 13px;
}

.div-1 {
    position: relative;
    top: 2px;
    left: 5px;
    display: inline-block;
    width: 120px;
}

.div-2 {
    position: relative;
    right: 50px;
    display: inline-block;
    width: 125px;
}

.div-3 {
    position: relative;
    left: 4px;
    display: inline-block;
    width: 120px;
}

.div-4 {
    position: relative;
    right: 50px;
    display: inline-block;
    width: 125px;
}

.div-5 {
    position: relative;
    left: 4px;
    display: inline-block;
    width: 120px;
}

.div-6 {
    position: relative;
    right: 50px;
    display: inline-block;
    width: 125px;
}
.ImagesCount{
    text-align: center;
    margin-top: 40%;
    left: 60px
}

.filetypes-count-div{
    text-align: center;
    margin-top: 2%;
}
.btn-top {
    top: 20px;
    margin-bottom: 20px;
}

.bold{
    font-weight: 600;
}

table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;

}

table, th, td {
    border: 2px solid black;
  }

.tooltip-btn{
    background-color: white;
    border: none;
    cursor: pointer;
}

#popover-div{
    background-color: white;
    border: 2px solid black;
    padding: 2%;
    margin-right: 5%;
}
.label-align{
    margin-top: 5%;
}

.exportcsvdiv{
    margin-top: 5%;
}