<!DOCTYPE html>
<html>

<head>
    <style>
        button {
            height: 30px;
            width: 30px;
            outline: none;
        }

        .exportcsvdiv {
            text-align: center;
        }

        .exportcsvdiv a {
            color: #ffffff;
        }
    </style>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Tomorrow|Share+Tech+Mono&display=swap" rel="stylesheet">
    <script src="js/vue.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"
></script>
</head>

<body>
    <div class="title-block">
        <header>
            <span class="version" id="version"></span>
            <img alt="logo" class="logo" src="icons/icon_128x128.png">
            <h1>ShimmerCat Image Extension</h1>
        </header>
    </div>
    <div id="app-root">
        <!-- <div v-if="ServiceWorker==true&&SplashScreen==false" class="Message">
            <label class="ErrorMessage">
                This website uses ShimmerCat Service Worker.
            </label>
        </div> -->
        <div v-if="!Active && !ServiceWorker&&SplashScreen==false" class="Message">
            <label class="ErrorMessage">
                This Website is not served by ShimmerCat.
            </label>
        </div>
        <div class="radiobutton-area" v-if="Active &&SplashScreen==false">
            <p class="p-position">Show</p>
            <div class="r-position t-1">
                <input class="shim-radio" type="radio" id="optimized" name="shim-type" value="optimized" v-model="shim">
                <label for="optimized">Optimized images</label>
            </div>
            <div class="r-position t-2">
                <input class="shim-radio" type="radio" id="unoptimized" name="shim-type" value="unoptimized"
                    v-model="shim">
                <label for="unoptimized">Original images</label>
            </div>
            <div class="r-position t-3">
                <input class="shim-radio" type="radio" id="select" name="shim-type" value="select" checked
                    v-model="shim">
                <label for="select">Selection</label>
                <button id="selection-popover" class="tooltip-btn" data-html="true" data-toggle="popover" data-placement="bottom" 
                data-content="<div id='popover-div' class='text-ul-li'>
                    <span>
                        When you show 'Selection' images are displayed as:
                    </span>
                    <ul class='list-ul'>
                        <li>Sepia images: optimized</li>
                        <li>Inverted images: Not possible to both
                            <br>compress and keep quality
                        </li>
                        <li>Pulsating images: Image is being pro-
                            <br>cessed
                        </li>
                        <li>Blue images: Image has been pro-
                            <br>cessed by the ServiceWorker
                        </li>
                    </ul>
                </div>">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                    <circle cx="8" cy="4.5" r="1"/>
                  </svg>
                </button>
            </div>
        </div>

        
        <div v-if="Spinner">
            <img class="spinner" src="/icons/spinner.svg" alt="Girl in a jacket" width="500" height="600">
        </div>
        <div v-if="Active &&SplashScreen==false">

            <div class="stats-area" v-if="total_size_optimized !== '' && Active">
                <div class="info info-grid">
                    <div class="label-align">
                        <div class="sublabel div-1">
                            <span> Image Compression:</span>
                        </div>
                        <div class="amount div-2">
                            <span>{{image_compression}}</span>
                        </div>
                        <div class="sublabel div-3">
                            <span>Total optimized:</span>
                        </div>
                        <div class="amount div-4">
                            <span>{{total_size_optimized}}</span>
                        </div>
                        <div class="sublabel div-5">
                            <span>Total original:</span>
                        </div>
                        <div class="amount div-6">
                            <span>{{total_size_unoptimized}}</span>
                        </div>
                    </div>
                </div>
                <div class="ImagesCount">
                    <label><span class="bold">Images Detected:</span> {{imagesCount}}</label>
                </div>
                <div class="filetypes-count-div">
                    <table>
                        <tr>
                            <th>Filetype</th>
                            <th>Origin</th>
                            <th>Optimised</th>
                        </tr>
                            <tr v-for="(value, name, index) in filetypes">
                                <td >{{value}}</td>
                                <td >{{getOriginFiletype(value)}}</td>
                                <td >{{getOptimisedFiletype(value)}}</td>
                            </tr>
                    </table>
                </div>
                <div class="exportcsvdiv">
                    <a href="download.html" class="btn btn-top">Export to CSV</a>
                </div>
            </div>
        </div>
        <div class="text-center" v-if="SplashScreen==true">
            <p class="m-25 f-size">
                Visualize and check the effects of
                <br>ShimmerCat's image optimization
                <br>compared to the origin.
            </p>
            <p class="m-25 f-size">
                Just click the below button,
                <br>the check only takes a few seconds
            </p>
            <div>


                <a href="#" v-on:click="SplashScreenChange" class="btn">Find optimized images</a>
            </div>
        </div>
    </div>


</body>
<script src="js/browser_polyfill.js"></script>
<script src="js/popup.js"></script>

</html>