<!DOCTYPE html>
<html>

<head>
    <style>
        button {
            height: 30px;
            width: 30px;
            outline: none;
        }

        .exportcsvdiv {
            text-align: center;
        }

        .exportcsvdiv a {
            color: #ffffff;
        }
    </style>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Tomorrow|Share+Tech+Mono&display=swap" rel="stylesheet">
    <script src="js/vue.js"></script>
</head>

<body>
    <div class="title-block">
        <header>
            <span class="version" id="version"></span>
            <img alt="logo" class="logo" src="icons/icon_128x128.png">
            <h1>ShimmerCat Image Extension</h1>
        </header>
    </div>
    <div id="app-root">
        <!-- <div v-if="ServiceWorker==true&&SplashScreen==false" class="Message">
            <label class="ErrorMessage">
                This website uses ShimmerCat Service Worker.
            </label>
        </div> -->
        <div v-if="!Active && !ServiceWorker&&SplashScreen==false" class="Message">
            <label class="ErrorMessage">
                This Website is not served by ShimmerCat.
            </label>
        </div>
        <div class="radiobutton-area" v-if="Active &&SplashScreen==false">
            <p class="p-position">Show</p>
            <div class="r-position t-1">
                <input class="shim-radio" type="radio" id="optimized" name="shim-type" value="optimized" v-model="shim">
                <label for="optimized">Optimized images</label>
            </div>
            <div class="r-position t-2">
                <input class="shim-radio" type="radio" id="unoptimized" name="shim-type" value="unoptimized"
                    v-model="shim">
                <label for="unoptimized">Original images</label>
            </div>
            <div class="r-position t-3">
                <input class="shim-radio" type="radio" id="select" name="shim-type" value="select" checked
                    v-model="shim">
                <label for="select">Selection</label>
            </div>
        </div>
        <div v-if="Spinner">
            <img class="spinner" src="/icons/spinner.svg" alt="Girl in a jacket" width="500" height="600">
        </div>
        <div v-if="Active &&SplashScreen==false">

            <div class="stats-area" v-if="total_size_optimized !== '' && Active">
                <div class="info info-grid">
                    <div class="text-ul-li">
                        <span>
                            When you show "Selection", images are dis-
                            <br>played as:
                        </span>
                        <ul class="list-ul">
                            <li>Sepia images: optimized</li>
                            <li>Inverted images: Not possible to both
                                <br>compress and keep quality
                            </li>
                            <li>Pulsating images: Image is being pro-
                                <br>cessed
                            </li>
                        </ul>
                    </div>
                    <div class="label-align">
                        <div class="sublabel div-1">
                            <span> Image Compression:</span>
                        </div>
                        <div class="amount div-2">
                            <!-- <span v-if="image_compression < 0">0%</span> -->
                            <span>{{image_compression}}</span>
                        </div>
                        <div class="sublabel div-3">
                            <span>Total optimized:</span>
                        </div>
                        <div class="amount div-4">
                            <span>{{total_size_optimized}}</span>
                        </div>
                        <div class="sublabel div-5">
                            <span>Total original:</span>
                        </div>
                        <div class="amount div-6">
                            <span>{{total_size_unoptimized}}</span>
                        </div>
                    </div>
                </div>
                <div class="ImagesCount">
                    <label><span class="bold">Images Detected:</span> {{imagesCount}}</label>
                </div>
                <div class="filetypes-count-div">
                    <span class="bold">Filetypes:</span>
                    <div v-for="(value, name) in filetypes">
                        - {{ name }}: {{ value }}
                      </div>
                    <!-- <ul v-if="Object.keys(filetypes).length !== 0" id="example-1">
                        <li v-for="(value, name) in filetypes">
                            {{ name }}: {{ value }}
                        </li>
                      </ul> -->
                </div>
                <div class="exportcsvdiv">
                    <a href="download.html" class="btn btn-top">Export to CSV</a>
                </div>
            </div>
        </div>
        <div class="text-center" v-if="SplashScreen==true">
            <p class="m-25 f-size">
                Visualize and check the effects of
                <br>ShimmerCat's image optimization
                <br>compared to the origin.
            </p>
            <p class="m-25 f-size">
                Just click the below button,
                <br>the check only takes a few seconds
            </p>
            <div>


                <a href="#" v-on:click="SplashScreenChange" class="btn">Find optimized images</a>
            </div>
        </div>
    </div>


</body>
<script src="js/browser_polyfill.js"></script>
<script src="js/popup.js"></script>

</html>